@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Zilla Slab", serif;
}

.app {
  background-color: #1d3557;
  margin: 10px;
  border-radius: 15px;
  height: calc(100vh - 20px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.counter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counter-container div {
  display: flex;
  align-items: center;
}

.counter-container > div > h1 {
  margin: 0 15px;
}

.counter-container button {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.first-component,
.second-component,
.third-component {
  background-color: #457b9d;
  height: 28%;
  border-radius: 10px;
  padding: 20px;
}

.first-component-child {
  background-color: #a8dadc;
  color: #1d3557;
  padding: 15px;
  border-radius: 5px;
  margin-top: 25px;
}
